.row
  .col-sm-4
    %p
      %em mical
      is a small Rails 3 web application to keep track and share the activities you practice.
  .col-sm-4
    %p
      Download the source code from
      %a(href="https://github.com/dncrht/mical") GitHub
      and deploy
      %em mical
      on your own server now.
  .col-sm-4
    %p
      You can customize this message editing the file
      %em app/views/admin/index.html.erb
