<div class="row">
  <div class="span4">
    <h5><em>mical</em> is a small Rails 3 web application to keep track and share the activities you practice.</h5>
  </div>
  <div class="span4">
    <h5>Download the source code from <a href="https://github.com/dncrht/mical">GitHub</a> and deploy <em>mical</em> on your own server now.</h5>
  </div>
  <div class="span4">
    <h5>You can customize this message editing the file <em>app/views/admin/index.html.erb</em></h5>
  </div>
</div>