<p>
  iCal is a small Rails 3 web application to edit and share the activities you practice.
</p>
<p>
  Download the source code from github and deploy iCal on your own server now.
</p>
<p>
  You can customize this message editing the file <cite>app/views/admin/index.html.erb</cite> .
</p>