<div class="row">
  <div class="span-one-third">
    <h4>iCal is a small Rails 3 web application to edit and share the activities you practice</h4>
  </div>
  <div class="span-one-third">
    <h4>Download the source code from github and deploy iCal on your own server now</h4>
  </div>
  <div class="span-one-third">
    <h4>You can customize this message editing the file <em>app/views/admin/index.html.erb</em></h4>
  </div>
</div>