/****************************************************************************/
/* estilo del documento */

#logged_as {margin-right: 30px; color: #fff; text-align: right;}
    #logged_as a {color: #fff;}
#cabecera {margin-top: 20px; height: 120px; background: url(/images/bg.png) repeat-x; position: relative; border-radius: 30px 30px 0 0; border-top: 1px solid #cfc4c0;}
    h1 {color: #321700; position: absolute; bottom: 26px; left: 40px; text-shadow: 1px 1px 1px #ead7b7;}
    #cabecera select {border: 1px solid rgba(0,0,0,0.4); border-radius: 5px; padding: 5px; background: rgba(0,0,0,0.2); color: #321700; position: absolute; bottom: 31px; right: 40px; font-weight: bold; font-size: 30px; box-shadow: inset 0 6px 10px rgba(0,0,0,0.45);}
#cuerpo {position: relative; background: #fff; padding: 10px;}
    .month {margin: 0 auto; float: left; height: 160px; width: 162px; border-top: 1px solid #d5d5d5; border-left: 1px solid #d5d5d5; margin: 10px;}
        .caption th {padding: 4px; background: #dedede; text-align: left; font-weight: bold; font-size: 16px; color: #1c1c1c; border-right: 1px solid #d5d5d5;}
        .weekdays th {color: #b6b6b6; background: #dedede; font-weight: normal; font-size: 11px; border-bottom: 1px solid #d5d5d5;}
            .last {border-right: 1px solid #d5d5d5;}
        .current th {background: #63a4e6; color: #fff;}
        td {border: 1px solid #d5d5d5; border-top: 0; border-left: 0; color: #7b7b7b; text-align: center;}
        td.current {font-weight: bold; color: #1c1c1c;}
        td.day:hover {background-color: #1c1c1c; color: #fff; cursor: pointer;}
#leyenda {position: absolute; background: #fff; top: 100px; left: -150px; width: 150px; padding: 20px; z-index: -1;}
    #leyenda li {line-height: 1.5em;}
    #leyenda span {float: left; width: 12px; height: 12px; margin-top: 6px; margin-right: 8px;}
#replace {position: absolute; display: none; top: 0; left: 163px; border: 1px solid #111; border-top: 0; background: #fff; padding: 10px; box-shadow: 0 7px 7px #1c1c1c;}
    #replace span {float: right; cursor: pointer;}
    #replace p {margin: 10px;}
    label, textarea, input {width: 200px; display: inline-block;}
    textarea {vertical-align: top;}
    .button {width: 120px; display: inline-block;}
    .delete {display: none;}
/*
        .month caption {padding: 4px; background: #dedede; text-align: left; font-weight: bold; font-size: 16px; border: 1px solid #d5d5d5; border-bottom: 0; color: #1c1c1c;}
        .current caption {background: #63a4e6;}
        th {color: #b6b6b6; background: #dedede; font-weight: normal; font-size: 11px;}
        .current th {background: #63a4e6; color: #fff;}*/