* {margin: 0; padding: 0;}
img, a {border: none;}
a:hover {text-decoration: none;}
*:focus {outline: none;}
table {border-spacing: 0; border-collapse: 0;}

/* http://www.positioniseverything.net/easyclearing.html */
.clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}

legend, hr {display: none;}
ul {list-style: none;}

body {font: 14px Helvetica, Arial, Sans-serif; background: #111; color: #000;}
    #centerer {position: relative; margin: 0 auto; width: 748px;}