.col-lg-3.col-md-4.col-sm-6
  %table{class: month_class}
    %tr
      %th.month-header(colspan="7")= I18n.l(start_day, format: :month)
    %tr.month-weekdays
      %th mon
      %th tue
      %th wed
      %th thu
      %th fri
      %th sat
      %th sun
    %tr
      = table
