- content_for :header_day do
  .col-sm-3

- content_for :header_year do
  .col-sm-6

%p
  You will receive an email within the next few minutes.
  It contains instructions for changing your password.
