%h2 Reset your password

%p
  We will email you a link to reset your password.

= form_with scope: :password, url: passwords_path, local: true do |f|

  .text_field
    = f.label :email, 'Email address'
    = f.text_field :email, type: 'email'

  .submit_field
    = f.submit 'Reset password'
