//******************************************************************************
//** BODY
//******************************************************************************

body
  position: relative
  padding: 40px 0

#calendar
  margin: 0 auto
  box-shadow: 0 10px 40px $gray-dark
  width: 788px
  border-radius: 30px 30px 6px 6px

.container-fluid
  width: 100%
  padding: 20px 15px

footer
  margin-top: 40px
  text-align: center
  color: $body-bg-lighter
  text-shadow: 1px 1px 1px lighten($body-bg-lighter, 80%)
  a
    color: $body-bg-lighter
    text-decoration: underline

progress
  width: 100%
