/*******************************************************************************
** BODY
*******************************************************************************/

body {
  position: relative;
  padding: 40px 0;
}
#calendar {
  margin: 0 auto;
  box-shadow: 0 10px 40px $gray;
  width: 788px;
  border-radius: $topRadius $bottomRadius;
}
footer {
  margin-top: 40px;
  text-align: center;
  color: $footerText;
  text-shadow: 1px 1px 1px lighten($footerText, 80%);
  a {
    color: $footerText;
    text-decoration: underline;
  }
}
