/*******************************************************************************
** CALENDAR BODY
*******************************************************************************/

main {
  position: relative;
  @include gradient(top, $gray 0px, $white 7px);
  width: 768px;
  border-radius: 0 0 $bottomRadius;
  padding: 20px 10px 0;
  min-height: 440px;
}

.row {margin-bottom: 20px;}

.month-header {
  padding: 4px;
  background: $monthCaptionBackground;
  text-align: left;
  font-weight: bold;
  font-size: 16px;
  color: $shadow;
  border-right: 1px solid $tableBorder;
}

.month {
  border-top: 1px solid $tableBorder;
  border-left: 1px solid $tableBorder;
}

.month-day {
  border: 1px solid $tableBorder;
  border-top: 0;
  border-left: 0;
  color: $day;
  text-align: center;
}
.month-day_blank {
  border-right: 1px solid $tableBorder;
  border-bottom: 1px solid $tableBorder;
}
.month-day_current {
  font-weight: bold;
  color: $daySelected;
}
.month-day:hover {
  @include gradient(top, $monthCaptionBackgroundSelected, $monthCaptionBackgroundSelectedTo);
  color: $white;
  cursor: pointer;
}

.month-weekdays {
  border-right: 1px solid $tableBorder;

  th {
    color: $weekDay;
    background: $monthCaptionBackground;
    font-weight: normal;
    font-size: 11px;
    border-bottom: 1px solid $tableBorder;
  }
}

.month_current {
  .month-header {
    @include gradient(top, $monthCaptionBackgroundSelected, $monthCaptionBackgroundSelectedTo);
    color: $white;
  }
  .month-weekdays th {
    background: $monthCaptionBackgroundSelectedTo;
    color: $white;
  }
}

.tooltip {margin-top: -19px !important;}
