//******************************************************************************
//** CALENDAR HEADER
//******************************************************************************

header
  position: relative
  height: 120px
  background: image-url('bg.png') repeat-x
  border-radius: 30px 30px 0 0
  border-top: 1px solid $brown-light

.header-day
  color: $brown
  text-shadow: 1px 1px 1px $brown-light
  font-size: 50px
  line-height: 50px
  text-align: center
  font-weight: bold

.header-month
  font-size: 20px
  line-height: 20px
  text-align: center

.header-year
  display: block
  cursor: pointer
  color: $brown
  text-shadow: 1px 1px 1px $brown-light
  font-weight: bold
  font-size: 60px
  line-height: 60px
  text-align: center

.header-years-dropdown
  position: absolute
  display: none
  top: 68px
  left: 123px
  width: 200px
  padding: 5px 0 5px 20px
  list-style: none
  z-index: 100
  border: 1px solid $brown
  background: $dropdown-bg
  box-shadow: 0 7px 10px $gray-dark
  &:before
    position: absolute
    top: -10px
    left: 5px
    content: ''
    display: inline-block
    border-left: 10px solid transparent
    border-right: 10px solid transparent
    border-bottom: 10px solid transparent
    border-bottom-color: $brown
  li
    width: 66px
    float: left
  a
    font-size: 20px

.header-user-info
  div
    border: 1px solid rgba(black, 0.4)
    border-radius: 5px
    padding: 5px
    background: rgba(black, 0.2)
    color: $brown
    box-shadow: inset 0 6px 10px rgba(black, 0.45)
    text-align: right
  a
    color: $brown

.nav-tabs > .active > a, .nav-tabs > .active > a:hover
  background-color: white !important
