/*******************************************************************************
** CALENDAR HEADER
*******************************************************************************/

header {
  position: relative;
  height: 120px;
  background: image-url('bg.png') repeat-x;
  border-radius: $topRadius 0 0;
  border-top: 1px solid $headerTextLight;
}

.header-day {
  position: absolute;
  top: 16px;
  left: 0;
  color: $headerText;
  text-shadow: 1px 1px 1px $headerTextLight;
  font-size: 50px;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
}

.header-month {
  font-size: 20px;
  line-height: 20px;
  text-align: center;
}

.header-year {
  cursor: pointer;
  margin-top: 20px;
  color: $headerText;
  text-shadow: 1px 1px 1px $headerTextLight;
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
}

.header-years-dropdown {
  position: absolute;
  display: none;
  top: 84px;
  left: 308px;
  width: 200px;
  padding: 5px 0 5px 20px;
  list-style: none;
  z-index: 100;
  border: 1px solid $headerText;
  background: $white;
  box-shadow: 0 7px 10px $shadow;

  &:before {
    position: absolute;
    top: -10px;
    left: 5px;
    content: '';
    display: inline-block;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-bottom-color: $headerText;
  }
  li {
    width: 66px;
    float: left;
  }
  a {font-size: 20px;}
}

.header-user-info {
  position: absolute;
  top: 28px;
  right: 20px;

  div {
    border: 1px solid rgba(black, 0.4);
    border-radius: 5px;
    padding: 5px;
    background: rgba(black, 0.2);
    color: $headerText;
    box-shadow: inset 0 6px 10px rgba(black, 0.45);
    text-align: right;
  }
  a {color: $headerText;}
}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover {background-color: white !important;}
