//******************************************************************************
//** COLLAPSABLE FORM TO MANAGE EVENTS
//******************************************************************************

.event-form
  position: absolute
  display: none
  padding: 20px 10px 0
  width: 440px
  overflow: hidden
  top: 0
  left: 163px
  border: 1px solid $brown
  border-top: 0
  box-shadow: 0 7px 10px $gray-800
  @include gradient(top, $gray-800 0px, $dropdown-bg 9px)

.event-form-inputs
  border-right: 1px solid $table-border-color

.event-form-photos
  border-top: 1px solid $table-border-color
.event-form-photo
  margin-top: 10px

.event-form-buttons
  button
    margin-bottom: 15px

.event-form-rating
  > span
    display: inline-block
    margin: 0 3px
    color: $yellow
    cursor: pointer
    border: 1px solid transparent
    &:hover
      border: 1px solid $table-border-color

.col-sm-3 .upload-dropzone small
  white-space: pre-line

.upload-dropzone
  text-align: center
  padding: 5px
  border: 1px dashed $table-border-color
.upload-dropzone-active
  border: 1px dashed $brand-primary
