//******************************************************************************
//** COLLAPSABLE FORM TO MANAGE EVENTS
//******************************************************************************

.event-form-inputs
  @include media-breakpoint-up(sm)
    border-right: 1px solid $table-border-color

.event-form-photos
  @include media-breakpoint-up(sm)
    border-top: 1px solid $table-border-color
.event-form-photo
  margin-top: 10px

@keyframes rotate-center
  0%
    transform: rotateZ(0)
  100%
    transform: rotateZ(360deg)

.event-form-rating
  > span
    display: inline-block
    margin: 0 3px
    color: $yellow
    cursor: pointer
    border: 1px solid transparent
    &:hover
      animation: rotate-center 0.5s linear infinite both

.upload-dropzone
  text-align: center
  padding: 5px
  border: 1px dashed $table-border-color
