/*******************************************************************************
** COLLAPSABLE FORM TO MANAGE EVENTS
*******************************************************************************/

.event-form {
  position: absolute;
  display: none;
  padding: 10px;
  width: 440px;
  overflow: hidden;
  top: 0;
  left: 163px;
  border: 1px solid $headerText;
  border-top: 0;
  @include gradient(top, $gray 0px, $white 7px);
  box-shadow: 0 7px 10px $shadow;
}

.event-form-inputs {
  padding: 10px;
  border-right: 1px solid $tableBorder;
}

.event-form-assets {
  border-top: 1px solid $tableBorder;
}

.event-form-buttons {
  padding: 10px;

  button {
    margin-bottom: 15px !important;
  }
}

.upload-dropzone {
  border: 1px dashed gray;
  &.hover {
    border: 1px dashed red;
  }
}
