/*******************************************************************************
** DIMENSIONS
*******************************************************************************/

$body-bg: #fcead5;

$grid-gutter-width: 20px;

$topRadius: 30px 30px;
$bottomRadius: 6px 6px;
