<div class="js-upload-asset">
  <div class="upload-dropzone js-upload-dropzone form-group">
    Select a file or drag and drop one here
  </div>

  <% if localhost? %>
    <%= render 'local_asset_upload', asset: @asset %>
  <% else %>
    <%= render 's3_asset_upload', asset: @asset %>
  <% end %>
</div>