<% content_for :header_year do %>
  <div class="col-sm-6 col-sm-offset-3">
    <p class="header-year">Admin</p>
  </div>
<% end %>

<% content_for :main do %>
  <%= cell(:navigation, current_user, tab: @tab) %>

  <%= yield %>
<% end %>

<%= render :template => 'layouts/application' %>
